.category {
    background-color: rgb(0, 126, 135);
    padding: 3px 15px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 10px 10px;
    font-size: 1.2em;
    font-family: 'Ubuntu';
    vertical-align: middle;
}

Button:focus {
    background-color:rgb(0, 189, 203);
    outline: none !important;
    outline-offset: none !important;
}

.badge {
  height: 21px;
  width: 21px;
  margin: 2px 2px 2px 10px ;
  padding: 3px;
  background-color: rgba(228, 61, 0, 0.906);
  border-radius: 50%;
  display: inline-block;
  font-size: .65em;
  vertical-align: middle;
  line-height: 1.2em;
}

.text-center {
  vertical-align: middle;
}